<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>About Me</title>

			<!-- Custom styles for this template go here -->
				<link rel="stylesheet" href="css/about_styles.css">

			<!--[if lt IE 9]>
			<script src="dist/html5shiv.js"></script>
			<![endif]-->
	</head>
	<body>
		<div class="container">
            <div class="image">
				<img alt="Qries" src="https://images.ctfassets.net/usf1vwtuqyxm/2ztIUf0cegEIygIWSOsQGM/470424de6bb83dd33c13e46a420e7ad4/snape.png?w=914&q=70&fm=webp"
			</div><!-- end image-->
			<div class="header">
				<h1>ABOUT ME</h1>
			</div><!-- end header-->
			<div class="intro column">
				<p>
					The Head of Slytherin, the man of extremes. I'm teaching potions, but I don't want to.
				</p>
			</div><!-- end intro-->
			<div class="skills column">
				<h3>SKILLS:</h3>
				<ul id="skill-list">
					<li>Potions </li>
					<li>Occlumency</li>
				</ul><!--end skill-list-->
			</div><!-- end skills-->
            			</div><!-- end intro-->
			<div class="house column">
				<h3>HOUSE:</h3>
				<ul id="house-list">
					<li>Slytherin </li>
				</ul><!--end house-list-->
			</div><!-- end house-->
			<div class="main-text">
				<h3>Pottermore about me:</h3>
				<p>
					,,For Snape sympathisers, he was an ambitious and cunning Slytherin hero with a tragic ending. For those who can simply never forgive him, Snape was an unnecessarily cruel teacher who wanted to make everyone’s lives as miserable as his own. Of course it’s a big question, but an important one: was Snape actually a good guy, or a bad guy? Is it even possible to measure? Probably not, but let's unpick one of the wizarding world's most textured characters anyway.''
				</p>
				<p>
                <h3>Back to homepage: </h3>
                <a href="http://127.0.0.1:8000/">---CLICK HERE---</a>

				</p>
			</div><!-- end main-text-->
		</div><!--end container-->
	</body>
</html>